*{
 margin: 0%;
 padding: 0%;
}

.parent {
    display: grid;
    border: 2px solid black;
    padding: 5%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(18, 1fr);
    gap: 0px;
}
    
.div1 {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: -30px;
    grid-column: span 10 / span 10;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div2 {
    
    display: flex;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: baseline;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1;
}

.div3 {

    display: flex;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: right;
    grid-column-start: 7;
    grid-row-start: 1;
}

.div4 {
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: center;
    grid-column-start: 8;
    grid-row-start: 1;
}

.div5 {
    display: flex;
    margin-top: 10px;
    position: relative;
    margin-right: 60px;
    justify-content: center;
    grid-column-start: 9;
    grid-row-start: 1;
}

.div6 {
    display:flex ;
    position: relative;
    justify-content: left;
    margin-top: 10px;
    margin-left: -20px;
    grid-column-start: 10;
    grid-row-start: 1;
}

.div7 {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}
.div7 p{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    margin-top: 30px;
    margin-right: 60px
    

}


.div8 {
    border: 2px solid black;
    padding-left: 50px;
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 9;
}

.div9 {
    border: 2px solid black;
    padding-left: 50px;
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 10;
}

.div10 {
    border: 2px solid black;
    padding-left: 50px;
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 11;
}

.div13 {
    border: 2px solid black;
    padding-left: 50px;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 12;
}

.div14 {
    border: 2px solid black;
    padding-left: 30px;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 7;
}

.div15 {
    border: 2px solid black;
    padding-left: 30px;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 11;
}

.div16 {
    border: 2px solid black;
    padding-left: 30px;
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    grid-column-start: 7;
    grid-row-start: 7;
}
.ul{
    text-decoration: none;
}
.div17 {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 15;
}

.div18 {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 15;
}

.div19 {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 8;
    grid-row-start: 15;
}

.div21 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 14;
}
        